﻿body {
    background-image: url("Images/background.png");
    padding: 0;
    margin: 0;
}

#content-wrapper {
    background: rgba(255, 255, 255, 0.8); 
}

    #content-wrapper > h1 {
        text-align: center; 
    }

#questionImage {
    width: 250px;
    height: 200px;
}

#questionContainer label {
    font-size: 20px;
    margin-bottom: 10px;
}

.path, .block, .player, .crate {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.row {
    padding: 0;
    margin: 0;
    line-height: 0;
}

#side-pane > ol {
    list-style-type: disc;
}

#side-pane li {
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
}

#rulesContainer h2 {
    text-align: center;
    font-weight: bold;
}

#startBtn, #submitBtn {
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-left: 70px;
}

.block {
    background-color: black;
}

.player {
    /*background-image: url("Images/seeker.png");*/
    background-image: url("Images/seeker.png");
    background-size: 20px 20px;
}

.crate {
    background-image: url("Images/tresure-chest.png");
    background-size: 20px 20px;
}

#lifes, #steps, #password {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

#footer {
    background: black;
    text-align: center;
    height: 20px;
}
